#box{background:#fff;border:1px solid #ddd}
form{margin:0}
.login h2{font-size:22px;font-weight:300;margin-bottom:18px;margin-top:0}
#box .wrapper{height:auto}
form fieldset > div{margin-left:14px}
form input{width:100%;margin-left:-14px}
form .submit{margin-top:9px;height:30px;background-image:url("/images/small.spinner.gif");background-position:center;background-repeat:no-repeat}
@media only screen and (-moz-min-device-pixel-ratio: 1.5),only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5){form .submit{background-image:url("/images/small.spinner@x1.5.gif");background-size:16px 16px}
}@media only screen and (-moz-min-device-pixel-ratio: 2),only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio: 2){form .submit{background-image:url("/images/small.spinner@x2.gif");background-size:16px 16px}
}